<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MenuPrincipal.Properties.Settings.conexionDB" connectionString="Data Source=LAPTOP-1QS2UH3M\SQLEXPRESS;Initial Catalog=baseAlex;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>